# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.bin

# Excluded
.clang-format
.vscode/
samples/app/mnist/src/benchmark.cpp
samples/model/mnist/include/nnacl
samples/model/mnist/include/wrapper
samples/model/mnist/src/micro/*

!test/unittest/common/dllite_micro_libmnist.so
!test/unittest/common/dllite_micro_mnist.bin
